name: Release Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libraylib-dev libasound2-dev libx11-dev libxrandr-dev libxi-dev libgl1-mesa-dev libglu1-mesa-dev libxcursor-dev libxinerama-dev

      - name: Setup Odin
        uses: laytan/setup-odin@v2
        with:
          odin-version: latest

      - name: Build
        run: odin build . -out:graph-fun-linux -opt:2

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: graph-fun-linux
          path: graph-fun-linux

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Odin
        uses: laytan/setup-odin@v2
        with:
          odin-version: latest

      - name: Build
        run: odin build . -out:graph-fun-windows.exe -opt:2

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: graph-fun-windows
          path: graph-fun-windows.exe
